<!doctype html>
<html>
<head>
    <title>Rock - Paper - Scissors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1>Rock, Paper, Scisscors...</h1>
    </header>
    <section class="js-weapons">
        <h2>Choose your weapon</h2>
        <ul class="js-weapon-list"></ul>
        <h3>I'm feeling lazy...</h3>
        <button class="js-simutator">Play for me</button>
    </section>

    <section class="js-game-result"></section>
</body>
</html>
